<div class="editPost">
  <%= form_with(model: @post, local:true, class: "editForm") do |f|%>
  <%= f.text_field :title, class: "editTitle" %>
  <%= f.text_area :text, class: "editText" %>
  <%= f.submit '更新', class: "editButton"%>
  <% end %>
</div>