<div class="newPost">
  <%= form_with(model: @post, local: true, class: "newPostForm") do |f| %>
  <%= f.text_field :title, class: "newPostFormTitle" ,placeholder: "タイトル" %>
  <%= f.text_area :text, class:"newPostFormContent", placeholder: "内容"%>
  <%= f.submit value="作成", class: "newPostFormButton" %>
  <% end %> 
</div>